background1{
    background-image:url("1.jpg");
}
background2{
    background-image:url("2.jpg");
}
background3{
    background-image:url("3.jpg");
}
background4{
    background-image:url("4.png");
}
